@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-cinzel: "Cinzel", serif;
  --font-jetbrains: "JetBrains Mono", monospace;
  
   /*dark theme*/
  --color-pd-background: #161311;
  --color-pd-text: #E6DFD3;
  --color-pd-primary: #A2B574;
  --color-pd-secondary: #E09260;
  --color-pd-ascent: #26211E;
  --color-pd-warning: #E37874;

   /*light theme*/
  --color-pl-backgroun: #E5D8BE;
  --color-pl-text: #2D2622;
  --color-pl-primary: #4B5E37;
  --color-pl-secondary: #A86439;
  --color-pl-ascent: #D1C5B2;
  --color-pl-warning: #A6464B;
}



/* #bg {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(circle at 1px 1px, var(--color-pd-secondary) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: center center;
} */

#app {
  position: relative;
  z-index: 1;
}
